body {
background: #ccc;
}

.banner{
    background: linear-gradient(165deg , #fff 60% , #eeeff3 40%);
   
   /* display: flex; 
    margin: 10 auto;
    width: 100%;

     align-content: center; */

}


.header{
   
    margin: auto;
    text-align: center;
}

.e{
    height: 60%;
    width: 80%;
   margin: 10%;
  
   background-color: #fff;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.item{
    
    list-style-type: none;
  
    
    }
  .active{
     
    border:none;
    text-decoration: none;
    padding:10px;
    margin: 20px;
    border-radius: 6px;
    color: black;
    background: rgb(128, 231, 231);
  }
  .n{
    padding:10px;
    margin: 20px;
    border-radius: 6px;
    color: black;
    background: rgb(235, 235, 235);
  }


h1{
    font-size: 30px;
}

p{
    margin: auto;
   
    font-size: 15px;

    color: rgb(155, 155, 155);
}



.btn{
   

display: flex;
justify-content: space-around;
align-items: center;
border-radius: 5px;
   
}